.app {
  padding: 100px;
}

.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 150ms ease-in-out, color 150ms ease-in-out;
  flex-shrink: 0;
  user-select: none;
}
